.card-img-top {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Bordas arredondadas */
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col-2 {
    flex: 0 0 14%; /* Ajustar a largura da coluna */
    max-width: 14%; /* Ajustar a largura da coluna */
    padding: 10px; /* Espaçamento entre os produtos */
}

#plannedDistributionShowcase {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


#card {
    cursor: pointer;
}